<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!--<property name="connection.url">jdbc:mysql://166.111.71.172:3306/crowddb_meta</property>-->
        <!--<property name="connection.username">crowddb</property>-->
        <!--<property name="connection.password">crowddb!password</property>-->
        <property name="show_sql">false</property>
        <property name="jdbc.fetch_size">50</property>
        <property name="jdbc.batch_size">25</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping resource="hibernate/query.hbm.xml" />
    </session-factory>
</hibernate-configuration>